# helpdesk new ticket creation automation configuration template
# INSTRUCTIONS: Rename this file to .env and fill in your actual details before running the app.

SECRET_KEY=insert_a_secure_random_string_here # user generated long, random cryptographic string used by Flask to securely sign session cookies 
SNOW_USERNAME=your_service_now_username
SNOW_PASSWORD=your_service_now_password
SNOW_INCIDENT_URL=https://your_service_now_instance.service-now.com/incident.do?sys_id=-1 # e.g. your_service_now_instance = your-company or dev123456 
SNOW_CALL_URL=https://your_service_now_instance.service-now.com/new_call.do?sys_id=-1&sysparm_stack=new_call_list.do